{% assign images = site.static_files | where_exp: "item", "item.path contains 'images/demo'" | reverse %}

<div class="container">
  
  <div class="row">
    
    <div class="col">
      <h1>Hello world. <small class="text-muted">This is a test.</small></h1>
    </div>
    
    <div class="col text-right">
      <div class="dropdown imageDropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select a day
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          {% for image in images %}
            <button class="dropdown-item imageSelect {% if forloop.first == true %}active{% endif %}" data-name="{{ image.basename }}" data-path="{{ image.path | relative_url }}" type="button">{{ image.basename }}</button>
          {% endfor %}
        </div>
      </div>
    </div>
    
  </div>
  
  <div class="row">  
    <div class="col">
      {% for image in images %}
        {% if forloop.first == true %}
          <img id="currentImage" src="{{ image.path | relative_url }}" alt="{{ image.name }}">
        {% endif %}
      {% endfor %}
    </div>  
  </div>

</div> <!-- /container  -->

<script type="text/javascript"> 
window.onload = function() {
  
  $('.imageSelect').click( function(){
    $(".imageSelect").removeClass("active");
    $(this).addClass("active");
    $("#currentImage").attr('src', $(this).data("path"));
    $("#currentImage").attr('alt', $(this).data("name"));
  });
  
}
</script>
  