<div class="container">
  <div class="row">
    <div id="lightgallery">
      {% for image in images %}
        {% if image.extname != ".md" %}
        <a href="{{ image.path | relative_url }}"></a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div> <!-- /container  -->  

<script type="text/javascript">
  
  $(document).ready(function() {
    
    $('#lightgallery').lightGallery({
      closable:false,
      mode:'lg-fade',
      hash:true,
      share:false,
      zoom:false,
      pager:true,
      thumbnail:false,
      escKey:false
    });
    $('#lightgallery a').last().trigger('click');
    
  });
  
</script>
  